@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="text-center">
    <h1 class="display-4">Hello this is Upasana and I welcome your to  my website</h1>
    <p>To know more about Dr. B. C. Roy Engineering College <a href="https://bcrec.ac.in/">BCREC</a>dedicated to quality education.</p>
</div>
